html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.black-icon {
  color: black;
  width: 20px;
  height: 20px;
}

.flex-content {
  display: flex;
  justify-content: center;
}

.flex-content-topnav {
  display: flex;
  align-items: center;
}

/* TOP NAV */

.top-nav {
  border-bottom: 1px solid #ebebeb;
  background-color: white;
  position: fixed;
  z-index: 999;
  width: 100vw;
}

.top-nav-ul {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.top-nav-li {
  list-style-type: none;
  text-align: center;
  margin: 10px 30px 10px 0;
  cursor: pointer;
}

/**/

.active-li {
  color: #0070f3;
}

.active-li .nav-li-head-list {
  background-color: #0070f3;
}

.active-li .nav-li-sub-list {
  background-color: #0070f3;
}

.nav-flexer {
  display: flex;
  width: 375px;
}

/* .ul-wrapper{
  padding-left: -50px;
  margin-top: 110px;
  position: absolute;
  overflow-y: scroll;
  left: 50px;
} */

.nav-ul {
  padding-left: 30px;
  margin-top: 110px;
  left: 50px;
  position: absolute;
}

.nav-line-div {
  border-right: 1px solid #ebebeb;
  margin-left: 50px;
  height: 100vh;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.nav-li {
  font-weight: 300;
  list-style-type: none;
  margin: 12px 0;
}

.nav-li-head {
  display: flex;
  align-items: center;
  margin-left: -36px /*- padding-left + width cirkel / 2 -*/;
  font-weight: 400;
  cursor: pointer;
}

.nav-li-sub {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-li-sub-text {
  margin: 0px;
}

.nav-li-head-list {
  width: 12px /*- width -*/;
  height: 12px;
  background-color: #353535;
  border-radius: 100%;
  margin-right: 20px;
}

.nav-li-sub-list {
  width: 7px;
  height: 7px;
  background-color: black;
  border-radius: 100%;
  margin-right: 20px;
}
